In [1]:
# Importation du module pymongo
import pymongo

In [2]:
# Connexion au serveur MongoDB et affichage de la liste des bases de données
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

# Renvoie la liste des bases de données de votre système :
print(myclient.list_database_names())

['admin', 'argentBankDB', 'config', 'local', 'python_db']

In [3]:
# Sélection de la base de données
mydb = myclient["python_db"]

In [4]:
# Affichage de la liste des collections de la base de données
print(mydb.list_collection_names())

['customers']

In [5]:
# Sélection de la collection (table)
mycol = mydb["customers"]

## Find (Rechercher)

Dans MongoDB, nous utilisons les méthodes find() et find_one() pour rechercher des données dans une collection.

Tout comme l'instruction SELECT est utilisée pour rechercher des données dans une table d'une base de données MySQL.

### Find One

In [6]:
# La méthode find_one() renvoie la première occurrence de la sélection.
x = mycol.find_one()
print(x)

{'_id': ObjectId('67532695cc5bde8642d92089'), 'name': 'John', 'age': 24, 'member': True, 'address': 'Highway 37'}

### Find All

In [7]:
# Affichage de la liste entière des documents (enregistrements) de la collection (table)
for x in mycol.find():
  print(x)

{'_id': ObjectId('67532695cc5bde8642d92089'), 'name': 'John', 'age': 24, 'member': True, 'address': 'Highway 37'}
{'_id': ObjectId('67532695cc5bde8642d9208a'), 'name': 'Peter', 'age': 32, 'member': False, 'address': 'Lowstreet 27'}
{'_id': 1, 'name': 'Amy', 'age': 18, 'member': True, 'address': 'Apple st 652'}
{'_id': 2, 'name': 'Hannah', 'age': 30, 'member': False, 'address': 'Mountain 21'}
{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Valley 345'}
{'_id': 4, 'name': 'Sandy', 'age': 50, 'member': False, 'address': 'Ocean blvd 2'}
{'_id': 5, 'name': 'Betty', 'age': 34, 'member': True, 'address': 'Green Grass 1'}
{'_id': 6, 'name': 'Richard', 'age': 45, 'member': False, 'address': 'Sky st 331'}
{'_id': 7, 'name': 'Susan', 'age': 20, 'member': True, 'address': 'One way 98'}
{'_id': 8, 'name': 'Vicky', 'age': 29, 'member': False, 'address': 'Yellow Garden 2'}
{'_id': 9, 'name': 'Ben', 'age': 25, 'member': True, 'address': 'Park Lane 38'}
{'_id': 10, 'name': 'William', 'age': 43, 'member': False, 'address': 'Central st 954'}
{'_id': 11, 'name': 'Chuck', 'age': 35, 'member': True, 'address': 'Main Road 989'}
{'_id': 12, 'name': 'Viola', 'age': 55, 'member': False, 'address': 'Sideway 1633'}

### Return Only Some Fields

- Le premier paramètre de la méthode find() est un objet décrivant les critères de recherche pour la sélection des documents (lignes ou enregistrements).

- Le deuxième paramètre de la méthode find() est un objet décrivant les champs (colonnes) à inclure dans le résultat. Ce paramètre est facultatif et s'il est omis, tous les champs seront inclus dans le résultat.

In [8]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Vous n'êtes pas autorisé à spécifier à la fois les valeurs 0 et 1 dans les champs du second paramètre (sauf si l'un des champs est le champ _id). Autrement dit, on met soit que des 0 soit que des 1 pour les autres champs autre que _id qui peut prendre 0 ou 1 indifféremment. On peut aussi omettre certains champs.

In [9]:
# Exemple 1
for x in mycol.find({},{ "_id": 0, "name": 1}):
  print(x)

{'name': 'John'}
{'name': 'Peter'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

Si vous définissez un champ autre que _id sur 0 et si vous ne précisez pas les autres champs, alors tous les autres champs seront inclus automatiquement.

In [10]:
# Exemple 2
for x in mycol.find({},{ "_id": 0, "name": 0 }): # 0 pour exclure le champ
  print(x)

{'age': 24, 'member': True, 'address': 'Highway 37'}
{'age': 32, 'member': False, 'address': 'Lowstreet 27'}
{'age': 18, 'member': True, 'address': 'Apple st 652'}
{'age': 30, 'member': False, 'address': 'Mountain 21'}
{'age': 25, 'member': True, 'address': 'Valley 345'}
{'age': 50, 'member': False, 'address': 'Ocean blvd 2'}
{'age': 34, 'member': True, 'address': 'Green Grass 1'}
{'age': 45, 'member': False, 'address': 'Sky st 331'}
{'age': 20, 'member': True, 'address': 'One way 98'}
{'age': 29, 'member': False, 'address': 'Yellow Garden 2'}
{'age': 25, 'member': True, 'address': 'Park Lane 38'}
{'age': 43, 'member': False, 'address': 'Central st 954'}
{'age': 35, 'member': True, 'address': 'Main Road 989'}
{'age': 55, 'member': False, 'address': 'Sideway 1633'}

### Query (Sélection de documents)

- Le premier paramètre de la méthode find() est un objet décrivant les critères de recherche (filtre) pour la sélection des documents (lignes ou enregistrements).

- Le deuxième paramètre de la méthode find() est un objet décrivant les champs (colonnes) à inclure dans le résultat. Ce paramètre est facultatif et s'il est omis, tous les champs seront inclus dans le résultat.

In [11]:
# Find document(s) with the address "Park Lane 38":
myquery = { "address": "Park Lane 38" }

mydocs = mycol.find(myquery)

for x in mydocs:
  print(x)

{'_id': 9, 'name': 'Ben', 'age': 25, 'member': True, 'address': 'Park Lane 38'}

Pour effectuer des requêtes avancées, vous pouvez utiliser des modificateurs comme valeurs dans l'objet de requête.

Par exemple, pour trouver les documents dont le champ « adresse » commence par la lettre « S » ou plus (par ordre alphabétique), utilisez le modificateur supérieur à : `{"$gt": "S"}`

In [12]:
myquery = { "address": { "$gt": "S" } }

mydocs = mycol.find(myquery)

for x in mydocs:
  print(x)

{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Valley 345'}
{'_id': 6, 'name': 'Richard', 'age': 45, 'member': False, 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Vicky', 'age': 29, 'member': False, 'address': 'Yellow Garden 2'}
{'_id': 12, 'name': 'Viola', 'age': 55, 'member': False, 'address': 'Sideway 1633'}

Filtrer avec des expressions régulières

Vous pouvez également utiliser des expressions régulières comme modificateur.

Les expressions régulières ne peuvent être utilisées que pour interroger des chaînes.

In [13]:
# Find documents where the address starts with the letter "S":
myquery = { "address": { "$regex": "^S" } }

mydocs = mycol.find(myquery)

for x in mydocs:
  print(x)

{'_id': 6, 'name': 'Richard', 'age': 45, 'member': False, 'address': 'Sky st 331'}
{'_id': 12, 'name': 'Viola', 'age': 55, 'member': False, 'address': 'Sideway 1633'}

In [14]:
# Find documents where age is less than 34:
myquery = { "age": { "$lt": 34 } }

mydocs = mycol.find(myquery)

for x in mydocs:
  print(x)

{'_id': ObjectId('67532695cc5bde8642d92089'), 'name': 'John', 'age': 24, 'member': True, 'address': 'Highway 37'}
{'_id': ObjectId('67532695cc5bde8642d9208a'), 'name': 'Peter', 'age': 32, 'member': False, 'address': 'Lowstreet 27'}
{'_id': 1, 'name': 'Amy', 'age': 18, 'member': True, 'address': 'Apple st 652'}
{'_id': 2, 'name': 'Hannah', 'age': 30, 'member': False, 'address': 'Mountain 21'}
{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Valley 345'}
{'_id': 7, 'name': 'Susan', 'age': 20, 'member': True, 'address': 'One way 98'}
{'_id': 8, 'name': 'Vicky', 'age': 29, 'member': False, 'address': 'Yellow Garden 2'}
{'_id': 9, 'name': 'Ben', 'age': 25, 'member': True, 'address': 'Park Lane 38'}

In [15]:
# Find documents where age is equal to 34:
myquery = { "age": 34 }

mydocs = mycol.find(myquery)

for x in mydocs:
  print(x)

{'_id': 5, 'name': 'Betty', 'age': 34, 'member': True, 'address': 'Green Grass 1'}

In [16]:
# Find documents where members is True:
myquery = { "member": True }

mydocs = mycol.find(myquery)

for x in mydocs:
  print(x)

{'_id': ObjectId('67532695cc5bde8642d92089'), 'name': 'John', 'age': 24, 'member': True, 'address': 'Highway 37'}
{'_id': 1, 'name': 'Amy', 'age': 18, 'member': True, 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Valley 345'}
{'_id': 5, 'name': 'Betty', 'age': 34, 'member': True, 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Susan', 'age': 20, 'member': True, 'address': 'One way 98'}
{'_id': 9, 'name': 'Ben', 'age': 25, 'member': True, 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Chuck', 'age': 35, 'member': True, 'address': 'Main Road 989'}

In [17]:
# Find documents where members is True and age is equal to 25:
myquery = { "member": True, "age": 25 }

mydocs = mycol.find(myquery)

for x in mydocs:
  print(x)

{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Valley 345'}
{'_id': 9, 'name': 'Ben', 'age': 25, 'member': True, 'address': 'Park Lane 38'}

In [18]:
# Find documents where age is between 25 and 45:
myquery = { "age": { "$gt": 25, "$lt": 45 } }

mydocs = mycol.find(myquery)

for x in mydocs:
  print(x)

{'_id': ObjectId('67532695cc5bde8642d9208a'), 'name': 'Peter', 'age': 32, 'member': False, 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Hannah', 'age': 30, 'member': False, 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Betty', 'age': 34, 'member': True, 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Vicky', 'age': 29, 'member': False, 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'William', 'age': 43, 'member': False, 'address': 'Central st 954'}
{'_id': 11, 'name': 'Chuck', 'age': 35, 'member': True, 'address': 'Main Road 989'}

In [19]:
# Find documents where age is not between 25 and 45:
myquery = { "age": { "$not": { "$gt": 25, "$lt": 45 } } }

mydocs = mycol.find(myquery)

for x in mydocs:
  print(x)

{'_id': ObjectId('67532695cc5bde8642d92089'), 'name': 'John', 'age': 24, 'member': True, 'address': 'Highway 37'}
{'_id': 1, 'name': 'Amy', 'age': 18, 'member': True, 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Valley 345'}
{'_id': 4, 'name': 'Sandy', 'age': 50, 'member': False, 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Richard', 'age': 45, 'member': False, 'address': 'Sky st 331'}
{'_id': 7, 'name': 'Susan', 'age': 20, 'member': True, 'address': 'One way 98'}
{'_id': 9, 'name': 'Ben', 'age': 25, 'member': True, 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'Viola', 'age': 55, 'member': False, 'address': 'Sideway 1633'}

## Sort Documents (Trier les documents)
Utilisez la méthode sort() pour trier le résultat par ordre croissant ou décroissant.

La méthode sort() prend un paramètre pour « fieldname » et un paramètre pour « direction » (croissant est la direction par défaut).)

- sort("name", 1) # ascending (croissant, par défaut)
- sort("name", -1) # descending (décroissant)

In [20]:
# Sort the result alphabetically by name:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': 1, 'name': 'Amy', 'age': 18, 'member': True, 'address': 'Apple st 652'}
{'_id': 9, 'name': 'Ben', 'age': 25, 'member': True, 'address': 'Park Lane 38'}
{'_id': 5, 'name': 'Betty', 'age': 34, 'member': True, 'address': 'Green Grass 1'}
{'_id': 11, 'name': 'Chuck', 'age': 35, 'member': True, 'address': 'Main Road 989'}
{'_id': 2, 'name': 'Hannah', 'age': 30, 'member': False, 'address': 'Mountain 21'}
{'_id': ObjectId('67532695cc5bde8642d92089'), 'name': 'John', 'age': 24, 'member': True, 'address': 'Highway 37'}
{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Valley 345'}
{'_id': ObjectId('67532695cc5bde8642d9208a'), 'name': 'Peter', 'age': 32, 'member': False, 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Richard', 'age': 45, 'member': False, 'address': 'Sky st 331'}
{'_id': 4, 'name': 'Sandy', 'age': 50, 'member': False, 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Susan', 'age': 20, 'member': True, 'address': 'One way 98'}
{'_id': 8, 'name': 'Vicky', 'age': 29, 'member': False, 'address': 'Yellow Garden 2'}
{'_id': 12, 'name': 'Viola', 'age': 55, 'member': False, 'address': 'Sideway 1633'}
{'_id': 10, 'name': 'William', 'age': 43, 'member': False, 'address': 'Central st 954'}

In [21]:
# Sort the result reverse alphabetically by name:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': 10, 'name': 'William', 'age': 43, 'member': False, 'address': 'Central st 954'}
{'_id': 12, 'name': 'Viola', 'age': 55, 'member': False, 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Vicky', 'age': 29, 'member': False, 'address': 'Yellow Garden 2'}
{'_id': 7, 'name': 'Susan', 'age': 20, 'member': True, 'address': 'One way 98'}
{'_id': 4, 'name': 'Sandy', 'age': 50, 'member': False, 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Richard', 'age': 45, 'member': False, 'address': 'Sky st 331'}
{'_id': ObjectId('67532695cc5bde8642d9208a'), 'name': 'Peter', 'age': 32, 'member': False, 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Valley 345'}
{'_id': ObjectId('67532695cc5bde8642d92089'), 'name': 'John', 'age': 24, 'member': True, 'address': 'Highway 37'}
{'_id': 2, 'name': 'Hannah', 'age': 30, 'member': False, 'address': 'Mountain 21'}
{'_id': 11, 'name': 'Chuck', 'age': 35, 'member': True, 'address': 'Main Road 989'}
{'_id': 5, 'name': 'Betty', 'age': 34, 'member': True, 'address': 'Green Grass 1'}
{'_id': 9, 'name': 'Ben', 'age': 25, 'member': True, 'address': 'Park Lane 38'}
{'_id': 1, 'name': 'Amy', 'age': 18, 'member': True, 'address': 'Apple st 652'}

## Limit the Result (Limitez le résultat)

Pour limiter le résultat dans MongoDB, nous utilisons la méthode limit().

La méthode limit() prend un paramètre, un nombre définissant le nombre de documents à renvoyer.

In [22]:
# Limit the result to only return 5 documents:
myresult = mycol.find().limit(5)

# Print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('67532695cc5bde8642d92089'), 'name': 'John', 'age': 24, 'member': True, 'address': 'Highway 37'}
{'_id': ObjectId('67532695cc5bde8642d9208a'), 'name': 'Peter', 'age': 32, 'member': False, 'address': 'Lowstreet 27'}
{'_id': 1, 'name': 'Amy', 'age': 18, 'member': True, 'address': 'Apple st 652'}
{'_id': 2, 'name': 'Hannah', 'age': 30, 'member': False, 'address': 'Mountain 21'}
{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Valley 345'}

Utiliser la méthode skip() pour ignorer les premiers documents (offset) et commencer à renvoyer les documents à partir d'un certain point.

In [23]:
# Limit the result between the third and the seventh document:
myresult = mycol.find().skip(2).limit(5)

# Print the result:
for x in myresult:
  print(x)

{'_id': 1, 'name': 'Amy', 'age': 18, 'member': True, 'address': 'Apple st 652'}
{'_id': 2, 'name': 'Hannah', 'age': 30, 'member': False, 'address': 'Mountain 21'}
{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Valley 345'}
{'_id': 4, 'name': 'Sandy', 'age': 50, 'member': False, 'address': 'Ocean blvd 2'}
{'_id': 5, 'name': 'Betty', 'age': 34, 'member': True, 'address': 'Green Grass 1'}

## Update Collection (Mettre à jour une collection)

### Update One Document (Mettre à jour un document)

Vous pouvez mettre à jour un enregistrement, ou un document comme on l'appelle dans MongoDB, en utilisant la méthode update_one().

Le premier paramètre de la méthode update_one() est un objet de requête définissant le document à mettre à jour.

Remarque : si la requête trouve plusieurs enregistrements, seule la première occurrence est mise à jour.

Le deuxième paramètre est un objet définissant les nouvelles valeurs du document.

In [24]:
# Change the address from "Valley 345" to "Canyon 123":
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

# Print "customers" after the update:
new_query = { "address": "Canyon 123" }
for x in mycol.find(new_query):
  print(x)

{'_id': 3, 'name': 'Michael', 'age': 25, 'member': True, 'address': 'Canyon 123'}

### Update Many Documents (Mettre à jour plusieurs documents)

In [25]:
# Update all documents where the address starts with the letter "S":
myquery = { "address": { "$regex": "^S" } }

newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

# Print "customers" after the update:
new_query = { "name": "Minnie" }
for x in mycol.find(new_query):
  print(x)

2 documents updated.
{'_id': 6, 'name': 'Minnie', 'age': 45, 'member': False, 'address': 'Sky st 331'}
{'_id': 12, 'name': 'Minnie', 'age': 55, 'member': False, 'address': 'Sideway 1633'}

## Delete documents (Supprimer des documents)

### Delete One Document (Supprimer un document)

In [26]:
myquery = { "address": "Mountain 21" }

x = mycol.delete_one(myquery)

print(x.deleted_count, " documents deleted.")

1  documents deleted.

### Delete Many Documents (Supprimer plusieurs documents)

In [27]:
myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

2  documents deleted.

### Delete All Documents in a Collection (Supprimer tous les documents d'une collection)

In [28]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

11  documents deleted.

## Drop Collection (Supprimer une collection)

In [29]:
# Delete the "customers" collection
mycol.drop()

# Vérifier si une collection existe dans une base de données en listant toutes les collections
collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection 'customers' exists.")
else:
  print("Collection 'customers' is not found.")

Collection 'customers' is not found.