In [1]:
# Importing the mysql.connector module
import mysql.connector

## Connect to the MySQL server and to the database

In [2]:
# Connect to the MySQL server and to the database
conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="python_db"
)

# Create a cursor object
mycursor = conn.cursor()

In [20]:
# Return a list of your system's databases:
#mycursor.execute("SHOW DATABASES")

#for x in mycursor:
#  print(x)

## Select From a Table
To select from a table in MySQL, use the "SELECT" statement.

In [4]:
# Select all records from the "customers" table, and display the result:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'John', 24, 1, 'Highway 37')
(2, 'Peter', 32, 0, 'Lowstreet 27')
(3, 'Amy', 18, 1, 'Apple st 652')
(4, 'Hannah', 30, 0, 'Mountain 21')
(5, 'Michael', 25, 1, 'Valley 345')
(6, 'Sandy', 50, 0, 'Ocean blvd 2')
(7, 'Betty', 34, 1, 'Green Grass 1')
(8, 'Richard', 45, 0, 'Sky st 331')
(9, 'Susan', 20, 1, 'One way 98')
(10, 'Vicky', 29, 0, 'Yellow Garden 2')
(11, 'Ben', 25, 1, 'Park Lane 38')
(12, 'William', 43, 0, 'Central st 954')
(13, 'Chuck', 35, 1, 'Main Road 989')
(14, 'Viola', 55, 0, 'Sideway 1633')

### Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

In [5]:
mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 37')
('Peter', 'Lowstreet 27')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

### Select With a Filter
When selecting records from a table, you can filter the selection by using the "WHERE" statement:

In [6]:
sql = "SELECT * FROM customers WHERE address = 'Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(11, 'Ben', 25, 1, 'Park Lane 38')

### Wildcard Characters
You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the %  to represent wildcard characters.

In [7]:
# Select records where the address contains the word "way":
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'John', 24, 1, 'Highway 37')
(9, 'Susan', 20, 1, 'One way 98')
(14, 'Viola', 55, 0, 'Sideway 1633')

### Prevent SQL Injection
When query values are provided by the user, you should escape the values.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module has methods to escape query values:

In [8]:
# Escape query values by using the placholder %s method:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(10, 'Vicky', 29, 0, 'Yellow Garden 2')

## Sort the Result
Use the ORDER BY statement to sort the result in ascending or descending order.

The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.

In [9]:
# Sort the result alphabetically by name: result:
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(3, 'Amy', 18, 1, 'Apple st 652')
(11, 'Ben', 25, 1, 'Park Lane 38')
(7, 'Betty', 34, 1, 'Green Grass 1')
(13, 'Chuck', 35, 1, 'Main Road 989')
(4, 'Hannah', 30, 0, 'Mountain 21')
(1, 'John', 24, 1, 'Highway 37')
(5, 'Michael', 25, 1, 'Valley 345')
(2, 'Peter', 32, 0, 'Lowstreet 27')
(8, 'Richard', 45, 0, 'Sky st 331')
(6, 'Sandy', 50, 0, 'Ocean blvd 2')
(9, 'Susan', 20, 1, 'One way 98')
(10, 'Vicky', 29, 0, 'Yellow Garden 2')
(14, 'Viola', 55, 0, 'Sideway 1633')
(12, 'William', 43, 0, 'Central st 954')

### ORDER BY DESC
Use the DESC keyword to sort the result in a descending order.

In [10]:
# Sort the result reverse alphabetically by name:
sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(12, 'William', 43, 0, 'Central st 954')
(14, 'Viola', 55, 0, 'Sideway 1633')
(10, 'Vicky', 29, 0, 'Yellow Garden 2')
(9, 'Susan', 20, 1, 'One way 98')
(6, 'Sandy', 50, 0, 'Ocean blvd 2')
(8, 'Richard', 45, 0, 'Sky st 331')
(2, 'Peter', 32, 0, 'Lowstreet 27')
(5, 'Michael', 25, 1, 'Valley 345')
(1, 'John', 24, 1, 'Highway 37')
(4, 'Hannah', 30, 0, 'Mountain 21')
(13, 'Chuck', 35, 1, 'Main Road 989')
(7, 'Betty', 34, 1, 'Green Grass 1')
(11, 'Ben', 25, 1, 'Park Lane 38')
(3, 'Amy', 18, 1, 'Apple st 652')

## Limit the Result
You can limit the number of records returned from the query, by using the "LIMIT" statement.

In [11]:
# Select the 5 first records in the "customers" table:
mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'John', 24, 1, 'Highway 37')
(2, 'Peter', 32, 0, 'Lowstreet 27')
(3, 'Amy', 18, 1, 'Apple st 652')
(4, 'Hannah', 30, 0, 'Mountain 21')
(5, 'Michael', 25, 1, 'Valley 345')

### Start From Another Position
If you want to return five records, starting from the third record, you can use the "OFFSET" keyword.

In [12]:
# Start from position 3, and return 5 records:
mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(3, 'Amy', 18, 1, 'Apple st 652')
(4, 'Hannah', 30, 0, 'Mountain 21')
(5, 'Michael', 25, 1, 'Valley 345')
(6, 'Sandy', 50, 0, 'Ocean blvd 2')
(7, 'Betty', 34, 1, 'Green Grass 1')

### Update Table
You can update existing records in a table by using the "UPDATE" statement.

In [13]:
# Overwrite the address column from "Valley 345" to "Canyon 123":
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

conn.commit()

print(mycursor.rowcount, "record(s) modified")

1 record(s) modified

### Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in update statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the update statement.

In [14]:
# Escape values by using the placeholder %s method:
sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Canyon 123", "Valley 345")

mycursor.execute(sql, val)

conn.commit()

print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

## Delete Record
You can delete records from an existing table by using the "DELETE FROM" statement.

In [15]:
# Delete any record where the address is "Mountain 21":
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

conn.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

### Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in delete statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement.

In [16]:
# Escape values by using the placeholder %s method:
sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

conn.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted