<p align="center"><font size="6"><b>Notebook de Charles-Henri SAINT-MARS</b></font></p>

## Import MySQL driver for Python

In [6]:
# Importing the mysql.connector module
import mysql.connector

## Create a Database

In [7]:
# Connect to the MySQL server
conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

# Create a cursor object
mycursor = conn.cursor() 

# Create a database
#mycursor.execute("CREATE DATABASE python_db")

### Check if Database Exists

Example 1

In [8]:
# Return a list of your system's databases:
mycursor.execute("SHOW DATABASES")

#for x in mycursor:
#  print(x)

Example 2

In [9]:
# Connect to the MySQL server and to the database
conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="python_db"
)

# Create a cursor object
mycursor = conn.cursor()

## Creating a Table
To create a table in MySQL, use the "CREATE TABLE" statement.

Make sure you define the name of the database when you create the connection

In [10]:
# Create a table named "customers":
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), age INT(4), member BOOLEAN, address VARCHAR(255))")

When creating a table, you should also create a column with a unique key for each record.

This can be done by defining a PRIMARY KEY.

We use the statement "INT AUTO_INCREMENT PRIMARY KEY" which will insert a unique number for each record. Starting at 1, and increased by one for each record.

### Check if Table Exists
You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement.

In [11]:
# Return a list of your database's tables:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

If the table already exists, use the ALTER TABLE keyword:

In [12]:
# Create primary key on an existing table:
#mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

## Insert Into Table
To fill a table in MySQL, use the "INSERT INTO" statement.

### Insert One Row

In [13]:
sql = "INSERT INTO customers (name, age, member, address) VALUES (%s, %s, %s, %s)"
val = ("John", 24, True, "Highway 37")
mycursor.execute(sql, val)

conn.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

### Insert Multiple Rows

To insert multiple rows into a table, use the executemany() method.

The second parameter of the executemany() method is a list of tuples, containing the data you want to insert.

In [14]:
# Fill the "customers" table with data:
sql = "INSERT INTO customers (name, age, member, address) VALUES (%s, %s, %s, %s)"
val = [
  ("Peter", 32, False, "Lowstreet 27"),
  ("Amy", 18, True, "Apple st 652"),
  ("Hannah", 30, False, "Mountain 21"),
  ("Michael", 25, True, "Valley 345"),
  ("Sandy", 50, False, "Ocean blvd 2"),
  ("Betty", 34, True, "Green Grass 1"),
  ("Richard", 45, False, "Sky st 331"),
  ("Susan", 20, True, "One way 98"),
  ("Vicky", 29, False, "Yellow Garden 2"),
  ("Ben", 25, True, "Park Lane 38"),
  ("William", 43, False, "Central st 954"),
  ("Chuck", 35, True, "Main Road 989")
]

mycursor.executemany(sql, val)

conn.commit()

print(mycursor.rowcount, "was inserted.")

12 was inserted.

### Get Inserted ID
You can get the id of the row you just inserted by asking the cursor object.

In [15]:
# Insert one row, and return the ID:
sql = "INSERT INTO customers (name, age, member, address) VALUES (%s, %s, %s, %s)"
val = ("Viola", 55, False, "Sideway 1633")
mycursor.execute(sql, val)

conn.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 14